body{
    background-color: hwb(0 18% 0% / 0);

    .button-container {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 20px 0;
    }

    .button-container > * {
        padding: 15px 30px;
        font-size: 1.2rem;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .button-container > *:hover {
        background-color: #0056b3;
    }
}