.chat .message {
    position: relative;
    width: fit-content;
    max-width: 80%;
    align-self: flex-end;
    background-color: lightskyblue;
    padding: 0.6em;
    margin-bottom: 0.2em;
    border-radius: 15px 0 15px 15px;
    padding-top: 1em;
}
.chat .message .msg-time {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.1em;
    font-size: 0.7em;
}   
.chat .message.sent-message .msg-time {
    left: 0;
}
.chat .message.sent-message {
    background-color: lightgreen;
    align-self: flex-start;
    border-radius: 0 15px 15px 15px;   
}
.chat .message.time-hidden .msg-time {
    visibility: hidden;
}
.chat .message.time-hidden {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.chat .message:has(+ .time-hidden) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 0.1em;
}
.chat .message .msg-sender {
    color: white;
    font-size: 0.8em;
    text-shadow: 1px 0 1px black, -1px 0 1px black, 0 1px 1px black, 0 -1px 1px black;
}
.chat .message.sent-message .msg-sender {
    display: none;
}
.chat .AI-message span {
    font-weight: bold;
    color: darkblue;
}
.chat .msg-control {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}
.chat .AI-message {
    background-color: lightcoral;
}
.chat .AI-message button {
    padding: 5px;
    border-radius: 10px;
    width: 40%;
    color: white;
}
.chat .AI-message .da {
    background-color: darkgreen;
}

.chat .AI-message .ne {
    background-color: darkred;
}
.chat .AI-message .prompt {
    text-align: center;
    margin-bottom:  10px;
    margin-top: 5px;
    background-color: white;
}
.AI-message .resolutionMessage {
    text-align: center;   
}